@import 'device.css';
@import 'header.css';
@import 'pads.css';
@import 'panel.css';

body {
  margin: 0;
  height: auto;
  width: 100%;
  background-color: hsl(100, 0%, 65%);
}

.container {
  height: 100%;
  width: 100%;
}