.pads-container {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    /* border: 2px solid magenta; */
    box-sizing: inherit;
    grid-area: pads;
    gap: 0.75rem;
    align-self: center;
    justify-content: left;
    margin-left: 1.25rem;
}
.drum-pad {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: hsl(100, 0%, 90%);
    background-color: hsl(100, 0%, 65%);
    border: 1px solid hsl(100, 0%, 50%);
    border-radius: 0.4rem;
    font-weight: bolder;
    font-size: 1rem;
}

.drum-pad:hover, .drum-pad:focus, .pressed-drum-pad {
    cursor: pointer;
    background-color: hsl(100, 0%, 55%);
    border: 3px solid hsl(100, 0%, 45%);
}

.pressed-drum-pad {
    background-color: hsl(100, 0%, 55%);
    border: 3px solid hsl(100, 0%, 45%);
}